@@include('./partials/main.html')

<head>
    @@include("partials/title-meta.html", {"title": "Bar Chartjs"})

    @@include('./partials/head-css.html')
</head>

<body>

    <!-- Begin page -->
    <div class="flex wrapper">

        @@include('./partials/menu.html')

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="page-content">

            @@include("./partials/topbar.html", {"title":"Bar Chartjs"})

            <main class="p-6">

                <div class="grid md:grid-cols-2 gap-6">

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Border Radius</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="border-radius-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Floating</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="floating-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Horizontal</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="horizontal-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Stacked</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="stacked-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Stacked with Groups</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="group-stack-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Vertical</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="vertical-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                </div> <!-- grid-end -->

            </main>

            @@include('./partials/footer.html')

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>

    @@include('./partials/customizer.html')

    @@include('./partials/footer-scripts.html')

    <!-- Chart.js -->
    <script src="assets/libs/chart.js/chart.min.js"></script>

    <!-- Chart.js Bar Demo js -->
    <script src="assets/js/pages/chartjs-bar.init.js"></script>


</body>

</html>