@@include('./partials/main.html')

<head>
    @@include("partials/title-meta.html", {"title": "Line Chartjs"})

    @@include('./partials/head-css.html')
</head>

<body>

    <!-- Begin page -->
    <div class="flex wrapper">

        @@include('./partials/menu.html')

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="page-content">

            @@include("./partials/topbar.html", {"title":"Line Chartjs"})

            <main class="p-6">

                <div class="grid md:grid-cols-2 gap-6">

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Interpolation</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="interpolation-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Line</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="line-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Multi-Axes</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="multi-axes-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Point Styling</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="point-styling-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Line Segment</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="line-segment-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Stepped</h4>
                            <div class="mt-3" style="height: 320px;">
                                <canvas id="stepped-example" data-colors="#3e60d5,#47ad77"></canvas>
                            </div>
                        </div>
                    </div> <!-- card-end -->

                </div> <!-- grid-end -->

            </main>

            @@include('./partials/footer.html')

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>

    @@include('./partials/customizer.html')

    @@include('./partials/footer-scripts.html')

    <!-- Chart.js-->
    <script src="assets/libs/chart.js/chart.min.js"></script>

    <!-- Chart.js Line Demo js -->
    <script src="assets/js/pages/chartjs-line.init.js"></script>


</body>

</html>