@@include('./partials/main.html')

<head>
    @@include("partials/title-meta.html", {"title": "Mixed Chart"})

    @@include('./partials/head-css.html')
</head>

<body>

    <!-- Begin page -->
    <div class="flex wrapper">

        @@include('./partials/menu.html')

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="page-content">

            @@include("./partials/topbar.html", {"title":"Mixed Chart"})

            <main class="p-6">

                <div class="grid xl:grid-cols-2 gap-6">

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Line & Column Chart</h4>
                            <div dir="ltr">
                                <div id="line-column-mixed" class="apex-charts" data-colors="#3e60d5,#47ad77"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Multiple Y-Axis Chart</h4>
                            <div dir="ltr">
                                <div id="multiple-yaxis-mixed" class="apex-charts" data-colors="#3e60d5,#39afd1,#fa5c7c"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Line & Area Chart</h4>
                            <div dir="ltr">
                                <div id="line-area-mixed" class="apex-charts" data-colors="#47ad77,#fa5c7c"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Line, Column & Area Chart</h4>
                            <div dir="ltr">
                                <div id="all-mixed" class="apex-charts" data-colors="#3e60d5,#39afd1,#fa5c7c"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                </div><!-- end Grid -->

            </main>

            @@include('./partials/footer.html')

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>

    @@include('./partials/customizer.html')

    @@include('./partials/footer-scripts.html')

    <!-- Apex Charts js -->
    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Apex Chart Mixed Demo js -->
    <script src="assets/js/pages/apex-mixed.init.js"></script>

</body>

</html>