@@include('./partials/main.html')

<head>
    @@include("partials/title-meta.html", {"title": "Area Chart"})

    @@include('./partials/head-css.html')
</head>

<body>

    <!-- Begin page -->
    <div class="flex wrapper">

        @@include('./partials/menu.html')

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="page-content">

            @@include("./partials/topbar.html", {"title":"Area Chart"})

            <main class="p-6">

                <div class="grid xl:grid-cols-2 gap-6">

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Basic Area Chart</h4>
                            <div dir="ltr">
                                <div id="basic-area" class="apex-charts" data-colors="#fa6767"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Spline Area</h4>
                            <div dir="ltr">
                                <div id="spline-area" class="apex-charts" data-colors="#3e60d5,#6c757d"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Area Chart - Datetime X-axis</h4>
                            <div class="toolbar apex-toolbar mb-3">
                                <button id="one_month" class="btn btn-sm btn-light">1M</button>
                                <button id="six_months" class="btn btn-sm btn-light">6M</button>
                                <button id="one_year" class="btn btn-sm btn-light active">1Y</button>
                                <button id="ytd" class="btn btn-sm btn-light">YTD</button>
                                <button id="all" class="btn btn-sm btn-light">ALL</button>
                            </div>
                            <div dir="ltr">
                                <div id="area-chart-datetime" class="apex-charts" data-colors="#6c757d"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Area with Negative Values</h4>
                            <div dir="ltr">
                                <div id="area-chart-negative" class="apex-charts" data-colors="#47ad77,#ffbc00"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Selection - Github Style</h4>
                            <div dir="ltr">
                                <div id="area-chart-github" class="apex-charts" data-colors="#7BD39A"></div>
                                <div class="pt-2 pb-2">
                                    <div class="flex items-center gap-3">
                                        <div class="col-auto">
                                            <img src="assets/images/users/avatar-2.jpg" class="h-8 rounded" alt="file-image">
                                        </div>
                                        <div class="col ps-0">
                                            <a href="javascript:void(0);" class="text-muted fw-bold">Coderthemes</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="area-chart-github2" class="apex-charts" data-colors="#FF7F00"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Stacked Area</h4>
                            <div dir="ltr">
                                <div id="stacked-area" class="apex-charts" data-colors="#3e60d5,#47ad77,#e3eaef"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Irregular TimeSeries</h4>
                            <div dir="ltr">
                                <div id="area-timeSeries" class="apex-charts" data-colors="#39afd1,#fa5c7c,#3e60d5"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-6">Area Chart with Null values</h4>
                            <div dir="ltr">
                                <div id="area-chart-nullvalues" class="apex-charts" data-colors="#6c757d"></div>
                            </div>
                        </div>
                    </div> <!-- end card -->

                </div> <!-- end grid -->

            </main>

            @@include('./partials/footer.html')

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>

    @@include('./partials/customizer.html')

    @@include('./partials/footer-scripts.html')

    <!-- Apex Charts Plugin js -->
    <script src="assets/libs/moment/moment.js"></script>
    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Apex Chart Area Plugin js -->
    <script src="https://apexcharts.com/samples/assets/stock-prices.js"></script>
    <script src="https://apexcharts.com/samples/assets/series1000.js"></script>
    <script src="https://apexcharts.com/samples/assets/github-data.js"></script>
    <script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>

    <!-- Apex Chart Demo Js -->
    <script src="assets/js/pages/apex-area.init.js"></script>

</body>

</html>