@@include('./partials/main.html')

<head>
    @@include("partials/title-meta.html", {"title": "Dashboard"})

    @@include('./partials/head-css.html')
</head>

<body>

    <div class="flex wrapper">

        @@include('./partials/menu.html')

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="page-content">

            @@include("./partials/topbar.html", {"title":"Pricing"})

            <main class="p-6">
                <div class="2xl:px-32 mx-auto ">
                    <div class="mt-10">
                        <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-6">

                            <div class="card">
                                <div class="text-center p-6">
                                    <h6 class="text-base text-primary uppercase mb-3">Basic</h6>

                                    <h2 class="text-4xl mb-2 dark:text-white">$19</h2>
                                    <h3 class="text-gray-400 texx-sm">Per Month</h3>

                                    <ul class="flex flex-col gap-6 pt-10">
                                        <li>5 Projects</li>
                                        <li>1 GB Storage</li>
                                        <li>No Domain</li>
                                        <li>1 User</li>
                                        <li>24x7 Support</li>
                                    </ul> <!-- ul end -->

                                    <div class="mt-10">
                                        <button type="button" class="btn bg-success/80 text-white rounded-full hover:bg-success">Change Plan</button>
                                    </div> <!-- button end -->
                                </div>
                            </div> <!-- card end -->

                            <div class="card relative overflow-hidden">
                                <div class="absolute right-0 top-0 h-16 w-16 z-10">
                                    <div class="absolute rotate-45 bg-primary text-center text-white font-normal text-sm py-0.5 right-[-35px] top-[32px] w-[170px] shadow-lg">
                                        Most Popular
                                    </div>
                                </div>
                                <div class="text-center p-6">
                                    <h6 class="text-base uppercase text-primary mb-3">Premium</h6>

                                    <h2 class="text-4xl mb-2 dark:text-white">$29</h2>
                                    <h3 class="text-gray-400 texx-sm">Per Month</h3>

                                    <ul class="flex flex-col gap-6 pt-10">
                                        <li>5 Projects</li>
                                        <li>1 GB Storage</li>
                                        <li>No Domain</li>
                                        <li>1 User</li>
                                        <li>24x7 Support</li>
                                    </ul> <!-- ul end -->

                                    <div class="mt-10">
                                        <button type="button" class="btn bg-success/80 text-white rounded-full hover:bg-success">Current Plan</button>
                                    </div> <!-- button end -->
                                </div>
                            </div> <!-- card end -->

                            <div class="card">
                                <div class="text-center p-6">
                                    <h6 class="text-base uppercase text-primary mb-3">Developer</h6>

                                    <h2 class="text-4xl mb-2 dark:text-white">$39</h2>
                                    <h3 class="text-gray-400 texx-sm">Per Month</h3>

                                    <ul class="flex flex-col gap-6 pt-10">
                                        <li>5 Projects</li>
                                        <li>1 GB Storage</li>
                                        <li>No Domain</li>
                                        <li>1 User</li>
                                        <li>24x7 Support</li>
                                    </ul> <!-- ul end -->

                                    <div class="mt-10">
                                        <button type="button" class="btn bg-success/80 text-white rounded-full hover:bg-success">Change Plan</button>
                                    </div> <!-- button end -->
                                </div>
                            </div> <!-- card end -->

                            <div class="card">
                                <div class="text-center p-6">
                                    <h6 class="text-base uppercase text-primary mb-3">Business</h6>

                                    <h2 class="text-4xl mb-2 dark:text-white">$49</h2>
                                    <h3 class="text-gray-400 texx-sm">Per Month</h3>

                                    <ul class="flex flex-col gap-6 pt-10">
                                        <li>5 Projects</li>
                                        <li>1 GB Storage</li>
                                        <li>No Domain</li>
                                        <li>1 User</li>
                                        <li>24x7 Support</li>
                                    </ul> <!-- ul end -->

                                    <div class="mt-10">
                                        <button type="button" class="btn bg-success/80 text-white rounded-full hover:bg-success">Change Plan</button>
                                    </div> <!-- button end -->
                                </div>
                            </div> <!-- card end -->

                        </div> <!-- grid end -->
                    </div>

                    <div class="mt-14 xl:px-40">
                        <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-6">

                            <div class="card">
                                <div class="text-center p-6">
                                    <h6 class="text-base text-primary uppercase mb-3">Basic</h6>

                                    <h2 class="text-4xl mb-2 dark:text-white">$19</h2>
                                    <h3 class="text-gray-400 texx-sm">Per Month</h3>

                                    <ul class="flex flex-col gap-6 pt-10">
                                        <li>5 Projects</li>
                                        <li>1 GB Storage</li>
                                        <li>No Domain</li>
                                        <li>1 User</li>
                                        <li>24x7 Support</li>
                                    </ul> <!-- ul end -->

                                    <div class="mt-10">
                                        <button type="button" class="btn bg-success/80 text-white rounded-full hover:bg-success">Change Plan</button>
                                    </div> <!-- button end -->
                                </div>
                            </div> <!-- card end -->

                            <div class="card relative overflow-hidden">
                                <div class="absolute right-0 top-0 h-16 w-16 z-10">
                                    <div class="absolute rotate-45 bg-primary text-center text-white font-normal text-sm py-0.5 right-[-35px] top-[32px] w-[170px] shadow-lg">
                                        Most Popular
                                    </div>
                                </div>
                                <div class="text-center p-6">
                                    <h6 class="text-base uppercase text-primary mb-3">Premium</h6>

                                    <h2 class="text-4xl mb-2 dark:text-white">$29</h2>
                                    <h3 class="text-gray-400 texx-sm">Per Month</h3>

                                    <ul class="flex flex-col gap-6 pt-10">
                                        <li>5 Projects</li>
                                        <li>1 GB Storage</li>
                                        <li>No Domain</li>
                                        <li>1 User</li>
                                        <li>24x7 Support</li>
                                    </ul> <!-- ul end -->

                                    <div class="mt-10">
                                        <button type="button" class="btn bg-success/80 text-white rounded-full hover:bg-success">Current Plan</button>
                                    </div> <!-- button end -->
                                </div>
                            </div> <!-- card end -->

                            <div class="card">
                                <div class="text-center p-6">
                                    <h6 class="text-base uppercase text-primary mb-3">Developer</h6>

                                    <h2 class="text-4xl mb-2 dark:text-white">$39</h2>
                                    <h3 class="text-gray-400 texx-sm">Per Month</h3>

                                    <ul class="flex flex-col gap-6 pt-10">
                                        <li>5 Projects</li>
                                        <li>1 GB Storage</li>
                                        <li>No Domain</li>
                                        <li>1 User</li>
                                        <li>24x7 Support</li>
                                    </ul> <!-- ul end -->

                                    <div class="mt-10">
                                        <button type="button" class="btn bg-success/80 text-white rounded-full hover:bg-success">Change Plan</button>
                                    </div> <!-- button end -->
                                </div>
                            </div> <!-- card end -->

                        </div> <!-- grid end -->
                    </div>

                </div> <!-- main-div end -->
            </main>

            @@include('./partials/footer.html')

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>

    @@include('./partials/customizer.html')

    @@include('./partials/footer-scripts.html')

</body>

</html>