@@include('./partials/main.html')

<head>
    @@include("partials/title-meta.html", {"title": "Dashboard"})

    @@include('./partials/head-css.html')
</head>

<body>

    <!-- Begin page -->
    <div class="flex wrapper">

        @@include('./partials/menu.html')

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="page-content">

            @@include("./partials/topbar.html", {"title":"Notifications"})

            <main class="p-6">

                <div class="grid xl:grid-cols-2 grid-cols-1 gap-6">

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-1">Default Alert</h4>

                            <div class="pt-5">
                                <div class="space-y-4">

                                    <div class="bg-primary/10 text-primary border border-primary/20 rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Primary</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-secondary/10 text-secondary border border-secondary/20 rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Secondary</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-success/10 text-success border border-success/20 rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Success</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-danger/10 text-danger border border-danger/20 rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Error</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-warning/10 border-warning/20 border text-warning rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Warning</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-info/10 border-info/20 border text-info rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Info</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-light/10 border-light/20 border text-light rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Light</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-dark/10 border-dark/20 border text-dark rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Dark</span> - A simple primary alert—check it out!
                                    </div>

                                </div> <!-- Default Alert end -->
                            </div>

                        </div> <!-- card-body end -->
                    </div> <!-- card end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-1">Dismissing Alerts</h4>

                            <div class="pt-5">
                                <div class="space-y-4">

                                    <div id="dismiss-example-primary" class="border bg-primary/10 text-primary border-primary/20 rounded-md py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Primary</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-primary" type="button">
                                            <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-primary end -->

                                    <div id="dismiss-example-secondary" class="border bg-secondary/10 text-secondary border-secondary/20 rounded-md py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Secondary</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-secondary" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-secondary end -->

                                    <div id="dismiss-example-success" class="border bg-success/10 text-success border-success/20 rounded-md py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Success</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-success" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-success end -->

                                    <div id="dismiss-example-danger" class="border bg-danger/10 text-danger border-danger/20 rounded-md py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Danger</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-danger" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-danger end -->

                                    <div id="dismiss-example-warning" class="border bg-warning/10 text-warning border-warning/20 rounded py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Warning</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-warning" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-warning end -->

                                    <div id="dismiss-example" class="border bg-info/10 text-info border-info/20 rounded py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Info</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example end -->

                                    <div id="dismiss-example-light" class="border bg-light/10 text-light border-light/20 rounded py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Light</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-light" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-light end -->

                                    <div id="dismiss-example-dark" class="border bg-dark/10 text-dark border-dark/20 rounded py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Dark</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-dark" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-dark end -->

                                </div> <!-- Dismissing Alerts end -->
                            </div>

                        </div> <!-- card-body -->

                    </div> <!-- card end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-1">Custom Background Alert</h4>

                            <div class="pt-5">
                                <div class="space-y-4">

                                    <div class="bg-primary text-white rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Primary</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-secondary text-white rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Secondary</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-success text-white rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Success</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-danger text-white rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Error</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-warning text-white rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Warning</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-info text-white rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Info</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-light text-gray-700 rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Light</span> - A simple primary alert—check it out!
                                    </div>
                                    <div class="bg-dark text-white rounded py-3 px-5" role="alert">
                                        <span class="font-bold">Dark</span> - A simple primary alert—check it out!
                                    </div>

                                </div> <!-- Default Alert end -->
                            </div>

                        </div> <!-- card-body end -->
                    </div> <!-- card end -->

                    <div class="card">
                        <div class="p-6">
                            <h4 class="card-title mb-1">Dismissing Custom Background Alert</h4>

                            <div class="pt-5">
                                <div class="space-y-4">

                                    <div id="dismiss-example-primary" class="bg-primary text-white rounded-md py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Primary</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-primary" type="button">
                                            <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-primary end -->

                                    <div id="dismiss-example-secondary" class="bg-secondary text-white rounded-md py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Secondary</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-secondary" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-secondary end -->

                                    <div id="dismiss-example-success" class="bg-success text-white rounded-md py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Success</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-success" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-success end -->

                                    <div id="dismiss-example-danger" class="bg-danger text-white rounded-md py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Danger</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-danger" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-danger end -->

                                    <div id="dismiss-example-warning" class="bg-warning text-white rounded py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Warning</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-warning" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-warning end -->

                                    <div id="dismiss-example" class="bg-info text-white rounded py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Info</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example end -->

                                    <div id="dismiss-example-light" class="bg-light text-gray-700 rounded py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Light</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-light" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-light end -->

                                    <div id="dismiss-example-dark" class="bg-dark text-white rounded py-3 px-5 flex justify-between items-center">
                                        <p>
                                            <span class="font-bold">Dark</span> - A simple primary alert—check it out!
                                        </p>
                                        <button class="text-xl/[0]" data-fc-dismiss="dismiss-example-dark" type="button">
                                           <i class="mdi mdi-close text-xl text-gray-400"></i>
                                        </button> <!-- button end -->
                                    </div> <!-- dismiss-example-dark end -->

                                </div> <!-- Dismissing Alerts end -->
                            </div>

                        </div> <!-- card-body -->

                    </div> <!-- card end -->

                </div> <!-- grid end -->
                
            </main>

            @@include('./partials/footer.html')

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>

    @@include('./partials/customizer.html')

    @@include('./partials/footer-scripts.html')

</body>

</html>